input,
textarea {
  border: #707070;
  border-radius: 20px;
  margin: 1px 10px 10px 0px;
  padding: 10px;
  width: 100%;
}

textarea {
  height: 65%;
  min-height: 100px;
}

.form_contact,
.info_contact {
  padding: 20px;
}

#send,
.send {
  display: none;
}

.send {
  background: #d99f59;
  right: 10px;
  padding: 10px;
}

#send:checked ~ .send {
  display: block;
}
