.product {
  display: flex;
  flex-direction: column;
}

.product div {
  flex: 1;
  min-height: 250px;
  background-size: cover;
  background-position-x: center;
  padding: 10px;
}

.product_box {
  background: url("../images/jacket-yellow.jpg");
}

.product h1,
p,
a {
  text-align: left;
  padding: inherit;
}

input {
  display: none;
}

#s:checked + label {
  background: #324759;
  color: #fff;
}
#m:checked + label {
  background: #324759;
  color: #fff;
}
#l:checked + label {
  background: #324759;
  color: #fff;
}

.product_size {
  background: #d99f59;
  padding: 15px;
}

.cta_specific {
  text-transform: uppercase;
}
