@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/BAHNSCHRIFT\ 1.TTF") format("truetype");
}

/* Layout */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Bahnschrift bold condensed", Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: "Bahnschrift condensed", Verdana, Geneva, Tahoma, sans-serif;
}

.home_logo {
  padding: 10px;
}

.home_logo img {
  max-width: 120px;
}

a {
  text-decoration: none;
}

.nav_position {
  padding: 5%;
  text-align: center;
  position: relative;
}

.cta {
  background-color: #324759;
  position: inherit;
  color: #fff;
  border-color: #d99f59;
  border-radius: 30px;
  border-width: 5px;
  border-style: solid;
  font-size: 1.2em;
  padding: 5px 25px;
}

.cart_icon img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

body {
  background-color: #d9b88f;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer a {
  text-decoration: underline;
  color: #000;
}

.footer_icons {
  padding: 15px;
}

.footer_links {
  padding: 15px;
  font-family: "Bahnschrift condensed", Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main elements home*/
main {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin-bottom: 20%;
}

main img {
  width: 263px;
  height: 175px;
  padding: 20px;
}

.cta_ch {
  font-family: "Bahnschrift condensed", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  position: absolute;
  text-align: left;
  font-size: 90%;
  right: 21vh;
  top: 9vh;
  transform: translate(-50%, -50%);
  color: #000;
}

.container {
  position: relative;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.top-left {
  position: absolute;
  top: 3vh;
  left: 3vh;
  color: #324759;
}

/* Tablet and desktop size */
@media (max-width: 965px) {
  .nav_position_desktop {
    display: none;
  }
}

@media (min-width: 964px) {
  .nav_position {
    display: none;
  }

  .home_logo img {
    max-width: 200px;
  }

  .cart_icon img {
    width: 60px;
    height: 60px;
    padding: 10px;
  }
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a a"
      "b c";
  }

  main h1 {
    grid-area: a;
    margin-left: 43vh;
  }

  main section:first-of-type {
    grid-area: b;
  }

  main section:last-of-type {
    grid-area: c;
  }

  .cta {
    padding: 10px 80px;
  }
}
