@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/BAHNSCHRIFT\ 1.TTF") format("truetype");
}

/* Layout */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Bahnschrift bold condensed", Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: "Bahnschrift condensed", Verdana, Geneva, Tahoma, sans-serif;
}

.cta_ch {
  font-family: "Bahnschrift condensed", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}

.home_logo {
  padding: 10px;
}

.home_logo img {
  max-width: 120px;
}

a {
  text-decoration: none;
}

.nav_position {
  padding: 25px;
  text-align: center;
}

.cta {
  background-color: #324759;
  color: #fff;
  border-color: #d99f59;
  border-radius: 30px;
  border-width: 5px;
  border-style: solid;
  font-size: 1.2em;
  padding: 5px 20px;
}

.cart_icon img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

body {
  background-color: #d9b88f;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer a {
  text-decoration: underline;
}

.footer_icons {
  padding: 15px;
}

.footer_links {
  padding: 15px;
  font-family: "Bahnschrift condensed", Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main elements home*/
main {
  display: grid;
  grid-template-columns: auto;
}

main img {
  width: 263px;
  height: 175;
  padding: 20px;
}

.h2_pushing {
  color: #fff;
}
