@font-face {
  font-family: "Bahnschrift condensed";
  src: url("../fonts/BAHNSCHRIFT.TTF") format("truetype");
}

@font-face {
  font-family: "Bahnschrift light";
  src: url("../fonts/BAHNSCHRIFT 1.TTF") format("truetype");
}

@font-face {
  font-family: "Bahnschrift semilightsemicondensed ";
  src: url("../fonts/BAHNSCHRIFT 7.TTF") format("truetype");
}

/* Layout */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: none;
  position: fixed;
  top: 87px;
  background: #fff;
  z-index: 1000;
  right: 0px;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 18px 15px;
}

#hamburger_menu {
  display: none;
}

#hamburger_menu:checked ~ nav {
  display: block;
}

h1 {
  font-family: "Bahnschrift condensed", Verdana, Geneva, Tahoma, sans-serif;
}

h3,
p {
  font-family: "Bahnschrift light", Verdana, Geneva, Tahoma, sans-serif;
}

.home_logo {
  padding: 10px;
}

.home_logo img {
  max-width: 120px;
}

a {
  text-decoration: none;
  font-family: "Bahnschrift light", Verdana, Geneva, Tahoma, sans-serif;
}

.cta {
  background-color: #324759;
  position: inherit;
  color: #fff;
  border-color: #d99f59;
  border-radius: 30px;
  border-width: 5px;
  border-style: solid;
  font-size: 1em;
  padding: 5px 25px;
}

.cart_icon img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

body {
  background-color: #d9b88f;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.home_page {
  display: flex;
  flex-direction: column;
}

.home_page div {
  flex: 1;
  min-height: 500px;
  background-size: cover;
  background-position-x: center;
  padding: 10px;
}

.home_push {
  background: url("../images/rainydays-dog.jpg");
  color: #fff;
  text-align: center;
}

.home_news {
  background: url("../images/rainydays-manyellow.jpg");
}

main {
  padding: 10px;
}

main h2 {
  font-family: "Bahnschrift condensed", Verdana, Geneva, Tahoma, sans-serif;
}

section h1 {
  text-align: center;
}

footer a {
  text-decoration: underline;
  padding: 10px;
  color: #000;
}

.footer_icons {
  display: flex;
  padding: 15px;
}

.footer_links {
  display: flex;
  padding: 15px;
  font-family: "Bahnschrift condensed", Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
